<div class="container">
  <form>
    <div class="card">
      <div class="card-header text-white bg-primary">
        <h4>Filtros</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 form-group">
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" name="nome" id="nome"
                    class="form-control" [(ngModel)]="seletor.nome">
          </div>
          <div class="col-md-6 form-group">
            <label for="nomePais" class="form-label">País:</label>
            <select class="form-control" name="nomePais"
                    [(ngModel)]="seletor.nomePais">
                 @for (p of paises; track p.id) {
                  <option value="{{ p.nome }}">{{ p.nome }} ({{ p.sigla }})</option>
                  }
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
              <label for="nomePesquisador" class="form-label">Pesquisador:</label>
              <select class="form-control" name="nomePesquisador"
                      [(ngModel)]="seletor.nomePesquisador">
                  @for (pe of pesquisadores; track pe.id) {
                    <option value="{{ pe.nome }}">{{ pe.nome }}</option>
                  }
              </select>
          </div>
          <div class="col-md-3 form-group">
              <label for="inicioPesquisa" class="form-label">De:</label>
              <input type="date" class="form-control" name="inicioPesquisa"
                      [(ngModel)]="seletor.dataInicioPesquisa">
          </div>
          <div class="col-md-3 form-group">
              <label for="finalPesquisa" class="form-label">Até:</label>
              <input type="date" class="form-control" name="finalPesquisa"
                      [(ngModel)]="seletor.dataFinalPesquisa">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="btnLimpar">&nbsp;</label>
            <button type="button" class="form-control btn btn-warning" name="btnLimpar"
            (click)="limpar()">
            <i class="bi bi-trash"></i> Limpar
          </button>
        </div>
          <div class="col-md-6">
            <label for="btnPesquisar">&nbsp;</label>
            <button type="button" class="form-control btn btn-primary" name="btnPesquisar"
            (click)="pesquisar()">
            <i class="bi bi-search"></i> Pesquisar
          </button>
        </div>
      </div>
      </div>
    </div>
  </form>

  <br>
  <div>
      <label for="limitePg" style="margin-right: 10px;">Itens por página: </label>
        <select class="rounded" name="limitePg" [(ngModel)]="seletor.limite" (change)="pesquisar()" style="padding: 10px;">
          <option value="2">2</option>
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="40">40</option>
          <option value="80">80</option>
        </select>
      <span style="padding: 0px 50px;">{{(seletor.limite * (seletor.pagina - 1)) + 1}} - {{seletor.limite * seletor.pagina}} de {{ totalItens }}</span>
      <button class="btn" (click)="voltarPg()" [disabled]="seletor.pagina == 1" id="btnPaginacao" id="navPaginacao"><i class="bi bi-caret-left"></i></button>
      <button class="btn" (click)="proximaPg()" [disabled]="seletor.pagina == totalPaginas" id="btnPaginacao" id="navPaginacao"><i class="bi bi-caret-right"></i></button>
  </div>

  <br>

  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>País</th>
          <th>Pesquisador</th>
          <th>Estagio</th>
          <th>Media</th>
          <th>Incio da Pesquisa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vacina of vacinas">
          <td>{{ vacina.nome }}</td>
          <td>{{ vacina.paisOrigem.nome }}</td>
          <td>{{ vacina.pesquisadorResponsavel.nome }}</td>
          <td>{{ vacina.estagio }}</td>
          <td>{{ vacina.media }}</td>
          <td>{{ vacina.dataInicioPesquisa | date: 'dd/MM/yyyy'}}</td>
          <td class="text-center">
            <button class="btn btn-xs btn-info mr-12 text-white"
                    (click)="editar(vacina)">
                  <i class="bi bi-pencil"></i> Editar
            </button>
            &nbsp;
            <button class="btn btn-xs btn-danger"
                    (click)="excluir(vacina)">
                <i class="bi bi-x"></i> Excluir
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

