<div class="container">
  <div class="row justify-content-center">
    <div class="card" style="width: 60%;">
      <div class="card-body">
        <h5 class="card-title">Vacinas</h5>
        <p class="card-text">Aqui você pode cadastrar novas vacinas, visualizar as vacinas já cadastradas, além de editar e excluir as mesmas.</p>
        <a href="/vacinas" class="btn btn-primary">Ir para Vacinas</a>
      </div>
    </div>
  </div>
  <br>
  <div class="row justify-content-center">
    <div class="card" style="width: 60%;">
      <div class="card-body">
        <h5 class="card-title">Pessoas [NÃO FUNCIONANDO]</h5>
        <p class="card-text">Aqui você pode cadastrar novas pessoas, visualizar as pessoas já cadastradas, além de editar e excluir as mesmas.</p>
        <a href="#" class="btn btn-primary">Ir para Pessoas</a>
      </div>
    </div>
  </div>
  <br>
  <div class="row justify-content-center">
    <div class="card" style="width: 60%;">
      <div class="card-body">
        <h5 class="card-title">Vacinações</h5>
        <p class="card-text">Aqui você pode cadastrar novas vacinações, visualizar as vacinações já cadastradas, além de editar e excluir as mesmas.</p>
        <a href="/vacinacao" class="btn btn-primary">Ir para Vacinações</a>
      </div>
    </div>
  </div>
  <br>
</div>

